html{
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
  background: white;
  font-size:16px;
  margin: 0;
  padding: 0;
}

.site-header{
  background: #EEF2F3; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #00000017;
  width: 100%;
  height: 105px;
  z-index: 3000;
}

.header-container{
  /* background: #bce1ff93; */
  display: block;
  position: relative;
  margin: 0 auto;
  width: 78%;
  height: 105px;
}

/* LOGO THANGS */

.site-logo{
  /* background: lightcoral; */
  display: block;
  position: relative;
  width: 205px;
  padding: 2px;
  top: 20px;
  height: 40px;
  z-index:100;
}
.logo{
  background: #659AA9;
  /* background: #408ea3; */
  display: inline-block;
  position: relative;
  margin: 2px;
  width: 32px;
  height: 21px;
  -webkit-clip-path: polygon(36% 11%, 100% 11%, 66% 96%, 0 96%);
  clip-path: polygon(36% 11%, 100% 11%, 66% 96%, 0 96%);
}

#logo-span{
  /* background:lightgreen; */
  font-weight: 400;
  position: relative;
  margin: 0px auto;
  right: 9px;
  bottom: 4px;
  letter-spacing: -1.25px;
  font-size: 1.55rem;
  font-size: 1.65rem;
}


#sup-span{
  background: #00000017;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa00;
  height: 2px;
  top: -5px;
  width: 144px;
  left: 1px;
  overflow:hidden;
  text-align: center;
  position: relative;
  font-size: 12px;
  transition: .3s ease all;  
}

.site-logo:hover #sup-span{
  transition: .2s ease all;
  background: #659AA9;
  height: 25px;
  color: black;
}


/* HEADER SPAN THANGS */
.dream-come-true-span{
  /* background: lightblue; */
  color: #408ea3;
  display: block;
  position: relative;
  width: 700px;
  font-size: 16px;
  top: 30px;
  /* letter-spacing: .75px; */
}

@media screen and (max-width: 1000px){
  .dream-come-true-span{
    display: block;
    position: relative;
    font-size: .65rem;
    font-weight: bold;
    top: -18px;
    left: 160px;
    width: 190px;
  }
}

/* NAV THANGS */

.nav-container{
  /* background: #EEF2F3; */
  /* background: pink; */
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  float:right;
  height: 50px;  
  width: 400px;
  bottom: 7px;
}
.site-nav ul{
  background: #EEF2F3;
  /* background: #317ff5; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  height: 30px;
  width: 400px;
  left:25px;
  list-style: none;
}

.site-nav ul a{
  /* background: lightgreen; */
  color: black;
  display: flex;
  position: relative;
  padding: 2px;
  border-right: 2px solid #00000017;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  bottom: 20px;
  right: 20px;
  transition: .1s ease all;
}

.site-nav ul a:hover{
  transition: .1s ease all;
  text-decoration: underline;
}
.first{
  width: 75px;
}

.second{
  position: relative;  
  width: 100px;
}
.third{
  position:relative;
  left: 22px;
}



/* DROPDOWN THANGS */

.dropdown{
  /* background: #62ffd86c; */
  display: block;
  position: relative;
  margin: 2px 4px;
  height: 8px;
  width:70px;
  top: 24px;
  right: 30px;
}

.dropdown-content{
  /* background:#41c8ee; */
  color: #fafafa00;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0 4px;
  bottom: 20px;
  height:4px; 
  border: 1px solid #fafafa00;
  transition: .1s ease all;
  } 
  .fp2 {
    top: 8px;
  }

.dropdown:hover .dropdown-content{
  transition: .1s ease all;
  background: #EEF2F3;
  position: relative;
  color: #0000006e;
  border: 1px solid #0000002c;
  border-top: 1px solid #fafafa00;
  padding: 28px;
  bottom: 9px;
  z-index: 3000;
}


.dropdown:hover .one{
  height: 400px;
  width: 300px;
  right: 130px;
}
.dropdown:hover .two{
  height: 460px;
  width: 300px;
  right: 190px;
}
/* MAIN THANGS */

.main-row{
  /* background: #d9eaf9; */
  display: block;
  text-align: left;
  margin: 0 auto;
  width: 80%;
  overflow: scroll;
  min-width: 450px;
  height: 110%;
}

.about{
  /* background: lightgreen; */
  display: block;
  position: relative;
  width: 75%;
  padding: 60px 20px;
  
  text-align: left;
  border: 1px solid #fafafa00;
  border-top: 0px;
  transition: .2s ease all;
}
.about:hover{
  transition: .2s ease all;
  background: #07386100; 
  border: 1px solid #0000002d;
  border-top: 0px;
}
.about h1{
  background: #659aa923;
  color: #00000021;
  position: relative;
  margin: 0 auto;           
  margin-bottom: 90px;
  padding: 8px;
  width: 85%;
  min-width: 325px;
  font-weight: 800;
  font-size: 8rem;
  word-wrap: break-word;
  text-align: center;
  transition: .2s ease all;
}

.about:hover h1{
  transition: .2s ease all;
  background: #659AA9;
  color: black;
}

.about p{
  display: block;
  position: relative;
  margin: 0 auto;
  /* margin-top: 50px; */
  color:#000000bd;
  border-radius: 2px;
  font-weight: 100;
  font-size: 1rem;
  width: 85%;
  line-height: 24px;
  padding: 8px;
  transition: .2s ease all;
}

.thrilled{
  background: #659AA9;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  height: 22px;
  width: 55px;
  letter-spacing: -1px;
  font-weight: 800;
  text-shadow: -2px 2px 1px #00000000;
  box-shadow: -2px 2px 1px #00000000;
  transition: .3s ease all;
}
.thrilled:hover{
  transition: .3s ease all;
  background: #d6568100;
  border-radius: 4px;
  color: #659AA9;
  letter-spacing: -.5px;
  text-shadow: -6px 8px 5px #0000006b;
}

.contact{
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid #000000bd;
  border-radius: 4px;
  padding: 4px 12px;
  height: 30px;
  width: 55px;
  font-size: 1rem;
  top: 35px;
  color: #000000bd;
  transition: .2s ease all;
}
.contact:hover{
  transition: .2s ease all;
  width: 85px;
}

.contact-me{
  display: block;
  position: relative;
  top: 6px;
  left: 2px;
  font-size:1rem;
}


.me{
  display: inline-block;
  position: relative;
  color: #ffffff00;
  left:60px;
  bottom: 12px;
  transition: .2s ease all;
}
.contact:hover .me{
  color: #000000bd;
}


/* FOOTER THANGS */
footer{
  background: #497986;
  display: block;
  position: absolute;
  width: 100%;
  height: 150px;
}
.footer-span{
  /* background: #fd9494; */
  color: #00000059;
  display:block;
  position: relative;
  margin: 0 auto;
  top: 30px;
  padding: 8px;
  width: 75px;
  height: 80px;
  line-height: 15px;
  text-align: center;
  letter-spacing: -1.25px;
}






